body {
    background: #020205;
    color: #FFFFFF;
}

.content-outer { background: #fff }

/* ------------------------------------------------------------------ */
/* c. Main Section - Main Page
/* ------------------------------------------------------------------ */

.fon{
    position: absolute;
    z-index: -1;
    display: block;
}

.contact-mobile,
.main-mobile,
#menu-button-mobile,
.order-menu {
    display: none;
}

.main-menu{
    margin-left: 11%;
    font-family: Montserrat, serif;
    background-position: center;
    background-size: cover;
}
.menu-text{
    margin-top: 105px;
    font-size: 14px;
}

#kaif{
    font-size: 106px;
}

#upgrate{
    font-size: 46px;
}

.main-name{
    font-family: Ustroke;
}

.main-name li{
    line-height: normal;
}
.main-social li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 24px;
}

#main-button{
    font-family: Ustroke;
    font-size: 14px;
    width: 214px;
    height: 54px;
    text-align: center;
}

/* ------------------------------------------------------------------ */
/* Gallery
/* ------------------------------------------------------------------ */
.gallery{
    margin-top: 105px;
    margin-left: 11%;
    margin-right: 11%;
    grid-gap: unset;
    font-family: Montserrat, serif;
}

.gallery ul{
    justify-self: self-end;
    font-family: Ustroke;
    font-size: 60px;
}

.gallery-row {
    display: table;
}

.gallery-image{
    background-position: center center;
    background-size: cover;
    padding-bottom: 25%;
    display: table-cell;
}

.gallery-row-image {
    display: grid;
}

.gallery-image-s{
    padding-bottom: 60%;
    background-size: cover;
}

.gallery-row-second{
    display: flex;
}
/*.gallery-image-third img{*/
/*    width: 50%;*/
/*}*/
.gallery-image-t{
    width: 50%;
    background-size: cover;
}
.gallery-row-second div{
    font-family: Montserrat;
    width: 50%;
    background-color: #1b1b1b;
    padding-top: 30px;
    padding-left: 45px;
    padding-bottom: 60px;
}

.gallery-row-second div li{
    margin-bottom: 0;
    margin-top: 34px;
}

#menu-button-pc {
    margin-top: 115px;
    margin-right: 11%;
    display: flex;
    justify-content: flex-end;
}

/* ------------------------------------------------------------------ */
/* Blog
/* ------------------------------------------------------------------ */
.blog-menu {
    margin-top: 115px;
    text-align: center;
}

.blog-menu ul{
    font-family: Ustroke;
    font-size: 60px;
    margin-bottom: 0;
}

.blog-menu li{
    font-family: Montserrat;
    margin-bottom: 2%;
}
.blog-row{
    display: flex;
    margin-left: 11%;
    margin-right: 11%;
    opacity:0.4;
}

.blog-row div img{
    height: fit-content;
}

.blog-image{
    display: grid;
    width: 50%;
    margin-right: 2%;
}

.blog-background{
    padding: 60px;
    margin-bottom: 20px;
}

.blog-title{
    padding: 20px;
    color: #FFFF;
}
.blog-image-second{
    width: 50%;
    margin-bottom: auto;
}

.blog-image-second div{
    height: 50%;
}

#blog-button{
    font-family: Montserrat;
    font-size: 14px;
    width: 214px;
    height: 54px;
    margin-top: 30px;
    text-align: center;
}

/* ------------------------------------------------------------------ */
/* Order
/* ------------------------------------------------------------------ */

.order-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

#order-button{
    font-family: Ustroke;
    margin-bottom: 0px;
    font-size: 22px;
}

#order-go{
    font-family: Ustroke;
    font-size: 46px;
    margin-bottom: 0px;
}

#order-text{
    margin-top: 0px;
    font-size: 24px;
}

.arrow-1{
    left: -40px;
    display: block;
}

/* ------------------------------------------------------------------ */
/* Contact
/* ------------------------------------------------------------------ */
.contact-menu, .contact-menu div{
    display: flex;
    justify-content: center;
}

.contact-menu div{
    margin-right: 40px;
}
/* ------------------------------------------------------------------ */
/* Footer
/* ------------------------------------------------------------------ */

footer {
    color: #FFFFFF;
    font-size: 14px;
    border-top: 1px solid #c4caca;
}

footer a:hover { color: #11ABB0; }

footer .footer {
    margin-top: 15px;
    text-align: center;
}

footer .footer ul {
    display: inline;
    vertical-align: middle;
    text-align: center;
}

/* social logo */
footer .footer-logo {
    text-align: center;
    margin-right: 10%;
}
footer .footer-logo li {
    display: inline-block;
}

/* footer nav */
footer .footer-nav {
    margin-left: 10%;
}
footer .footer-nav li {
   display: inline;
   margin-right: 20px;
   margin-left: 20px;
}

footer .footer-nav a:hover { color: #313131; }

/* social links */
footer .footer-social {
    margin-left: 10%;
}
footer .footer-social li {
   display: inline-block;
   margin: 0;
   padding: 0;
   margin-left: 24px;
   margin-right: 24px;
}

footer .footer-social li a:hover { color: #313131; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 12px 0 0 0;
    text-align: center;
    font-size: 15px;
    font: 14px/30px notosans-regular, sans-serif;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}

footer .copyright li:before {
    content: "|";
    padding-left: 10px;
    padding-right: 12px;
    color: #B4BBBB;
}
footer .copyright  li:first-child:before {
    display: none;
}
