body {
    background: #020205;
    color: #FFFFFF;
}

.content-outer { background: #fff }

/* ------------------------------------------------------------------ */
/* c. Main Section - Main Page
/* ------------------------------------------------------------------ */
#main-section {
    height: -webkit-fill-available;
    background-size: cover;
    /*background-attachment: fixed;*/
}
.fon{
    position: absolute;
    z-index: -1;
    display: block;
}
.main-menu{
    margin-top: 105px;
    margin-left: 146px;
    font-family: Montserrat, serif;
}
.menu-text{
    margin-top: 105px;
    font-size: 14px;
}

.main-name{
    font-family: Ustroke;
}

.main-name li{
    line-height: normal;
}
.main-social li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 24px;
}

#main-button{
    font-family: Ustroke;
    font-size: 14px;
    width: 214px;
    height: 54px;
    text-align: center;
}
/* ------------------------------------------------------------------ */
/* Gallery
/* ------------------------------------------------------------------ */
.gallery{
    margin-top: 105px;
    margin-left: 146px;
    margin-right: 145px;
    font-family: Montserrat, serif;
}

.gallery ul{
    justify-self: self-end;
    font-family: Ustroke;
    font-size: 60px;
}

.row{
    display: flex;
    margin-bottom: -72%;
}
.gallery-image{
    width: 34%;
    display: flex;
    height: fit-content;
}
.gallery-image-second{
    flex-direction: column;
    width: 32%;
    height: 50%;
    margin-left: auto;
}

.gallery-image-second img{
    width: 100%;
    height: 38%;
    object-fit: cover;
}

.gallery-image-third{
    display: flex;
}
.gallery-image-third img{
    width: 50%;
}
.gallery-image-third div{
    font-family: Montserrat;
    width: 50%;
    background-color: #1b1b1b;
    padding-top: 30px;
    padding-left: 45px;
}

.gallery-image-third div li{
    margin-bottom: 0;
    margin-top: 34px;
}

.menu-button {
    margin-top: 115px;
    margin-right: 145px;
    display: flex;
    justify-content: flex-end;
}

/* ------------------------------------------------------------------ */
/* Blog
/* ------------------------------------------------------------------ */
.blog-menu {
    margin-top: 115px;
    text-align: center;
}

.blog-menu ul{
    font-family: Ustroke;
    font-size: 60px;
    margin-bottom: 0;
}

.blog-menu li{
    font-family: Montserrat;
    margin-bottom: 2%;
}
.blog-row{
    display: flex;
    margin-left: 146px;
    margin-right: 145px;
    opacity:0.4;
}

.blog-row div img{
    height: fit-content;
}

.blog-image{
    display: grid;
    width: 50%;
    margin-right: 2%;
}

.blog-background{
    padding: 60px;
}

.blog-title{
    padding: 20px;
    color: #FFFF;
}
.blog-image-second{
    width: 50%;
}

.blog-image-second div{
    height: 50%;
}

#blog-button{
    font-family: Montserrat;
    font-size: 14px;
    width: 214px;
    height: 54px;
    margin-top: 30px;
    text-align: center;
}

/* ------------------------------------------------------------------ */
/* Order
/* ------------------------------------------------------------------ */

.order-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

#go, #order-button{
    font-family: Ustroke;
}

.arrow-1{
    left: -70px;
}

/* ------------------------------------------------------------------ */
/* Contact
/* ------------------------------------------------------------------ */
.contact-menu, .contact-menu div{
    display: flex;
    justify-content: center;
}

.contact-menu div{
    margin-right: 40px;
}
/* ------------------------------------------------------------------ */
/* Footer
/* ------------------------------------------------------------------ */

footer {
    font-size: 14px;
    border-top: 1px solid #c4caca;
}
footer a, footer a:visited { color: #6A747C; }
footer a:hover { color: #11ABB0; }

footer .footer {
    margin-top: 15px;
    text-align: center;
}

footer .footer ul {
    display: inline;
    vertical-align: middle;
    text-align: center;
}

/* social logo */
footer .footer-logo {
    text-align: center;
    margin-right: 10%;
}
footer .footer-logo li {
    display: inline-block;
}

/* footer nav */
footer .footer-nav {
    margin-left: 10%;
}
footer .footer-nav li {
   display: inline;
   margin-right: 20px;
   margin-left: 20px;
}
footer .footer-nav a { color: #7B858E; }
footer .footer-nav a:hover { color: #313131; }

/* social links */
footer .footer-social {
    margin-left: 10%;
}
footer .footer-social li {
   display: inline-block;
   margin: 0;
   padding: 0;
   margin-left: 24px;
   margin-right: 24px;
}
footer .footer-social li a { color: #7B858E; }
footer .footer-social li a:hover { color: #313131; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 12px 0 0 0;
    text-align: center;
    font-size: 15px;
    font: 14px/30px notosans-regular, sans-serif;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}

footer .copyright li:before {
    content: "|";
    padding-left: 10px;
    padding-right: 12px;
    color: #B4BBBB;
}
footer .copyright  li:first-child:before {
    display: none;
}
